body {
  background-color: #1e1e1e;
  font-family: Arial, sans-serif;
  color: #f0f0f0;
}

.bookshelf-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.book-form {
  border: 1px solid #ccc;
  padding: 1.5rem;
  border-radius: 6px;
  background-color: #2a2a2a;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 300px;
  margin-bottom: 2rem;
}

.book-form h3 {
  margin-bottom: 1rem;
  text-align: center;
}

.book-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

.book-form input {
  margin-top: 0.25rem;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  background-color: #1e1e1e;
  color: #fff;
}

.book-form button {
  padding: 0.5rem;
  background-color: #7f3cff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 0.5rem;
}

.book-form button:hover {
  background-color: #692dcf;
}

.book-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.book-card {
  background-color: #a0a0a0;
  color: black;
  padding: 1rem;
  border-radius: 4px;
  width: 200px;
  text-align: left;
}
